<nb-card>
    <nb-card-header>
    <h4>Se Loguer</h4>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="fg" (ngSubmit)="submit()">
            <input formControlName="email" 
                   nbInput type="email" 
                   placeholder="Email"
                   [status]="validate('email')">

            <input formControlName="password" 
                   nbInput type="password" 
                   placeholder="Password"
                   [status]="validate('password')">

            <input [disabled]="fg.invalid" 
                   nbButton status="info" 
                   type="submit" value="Envoyer">
        </form>
    </nb-card-body>
</nb-card>
