<nb-layout>
    <nb-layout-header>
        <nb-icon class="menu" icon="menu" (click)="menu()"></nb-icon>
    </nb-layout-header>

    <nb-sidebar [state]="state">
        <nb-menu [items]="items"></nb-menu>
    </nb-sidebar>

    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>
    
    <nb-layout-footer>
        @cognitic - 2021
    </nb-layout-footer>
</nb-layout>