<nb-chat>
    <nb-chat-message *ngFor="let item of messages"
                    [message]="item.contenu"
                    [reply]="item.auteur !== 'Khun'"
                    [sender]="item.auteur"
                    [date]="item.date"
                    dateFormat="dd/MM/yyyy HH:mm:ss"></nb-chat-message>
    <nb-chat-form (send)="send($event)" 
                  [dropFiles]="false"
                  messagePlaceholder="Entrez votre message">
    </nb-chat-form>
</nb-chat>

